# User specified exclusions
topics/
scratch/
**/scratch/
/*.pdf
/*.csv
/*.xlsx
/*.txt
/*.md
!/README.md

# Python
__pycache__/
*.py[cod]
*.class
.env
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# LaTeX artifacts
*.aux
*.log
*.out
*.toc
*.pdf
*.bbl
*.blg
